@import url('https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,701,501,401,901,400&display=swap');

* {
  font-family: 'Satoshi', sans-serif;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: theme('colors.dark-grey');
  display: flex;
  scroll-behavior: smooth;
  justify-content: center;
}

body {
  padding: 1rem 0.75rem;
  width: min(100%, 1000px);
  color: theme('colors.light-blue');
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}

.menu {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px) contrast(90%);
  box-shadow: 0px 0px 5px theme('colors.shadow-grey');
}

.menuLink {
  box-shadow: 0px 0px 5px theme('colors.shadow-grey');
}

@media (max-width: 850px) {
  body {
    padding: 1rem;
  }
}